@import url(https://fonts.googleapis.com/css?family=Antic+Slab);

html,body {
  height:100%;
}

h1 {
  font-family: 'Antic Slab', serif;
  font-size:80px;
  color:#DDCCEE;
}

.lead {
	color:#DDCCEE;
}


/* Custom container */
.container-full {
  margin: 0 50;
  width: 100%;
  max-height:150px;
  background-color:#110022;
  color:#eee;
  overflow: hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.panel-body {
  height: 400px;
  overflow: scroll;
}

.label-info {
  margin-right: 15px;
}

#video-of-other {
  max-width: 100%;
  max-height: 100%;
}

.well {
  background: #cce6ff;
}